html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.br8 {
  border-radius: 8px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
button {
  cursor: pointer;
}

.auth-side {
  background-image: url(../../public/images/auth.svg);
  background-size: cover;
}

ul {
  list-style-type: none;
}

.header-container {
  border: 1px solid rgba(237, 237, 237, 1);
  padding: 19px;
  padding-left: 36px;
  border-radius: 8px;
}

.pointer {
  cursor: pointer;
}
